# Dependencies
node_modules/
blog-app-backend/node_modules/
blog-app-frontend/node_modules/

# Environment variables
.env
blog-app-backend/.env
blog-app-frontend/.env

# Build outputs
blog-app-frontend/dist/
blog-app-frontend/dist-ssr/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/
